# === Compiled objects ===
*.o
*.out
*.a
*.so

# === Executables ===
minishell
a.out

# === Libft ===
libft/libft.a
libft/*.o
/obj/
/obj_bonus/

 # === Debug and logs ===
*.pdf
*.log
*.gch
*.swp
*.tmp
*.bak
*.dSYM/
vgcore.*
.valgrind.log

# === OS / IDE / VSCode files ===
.DS_Store
.idea/
.vscode/
*.code-workspace
*.supp

# === Backup or temp files ===
*~
# === Readline history ===
.history

# === Test scripts output ===
tests/output/
tests/tmp/


